* {
	margin: 0 0 0 0;
	border: 0 0 0 0;
	padding: 0 0 0 0;
	opacity: 1;
}

body {
	background: rgb(230, 230, 200);
}

input {
	font-size: 12px;
}

select {
	font-size: 12px;
}

/* 앱의 전체를 감싸는 것 */
.app_bound {
	display: flex;
	flex-direction: column;
	align-content: center;
	max-width: 400px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	background: white;
	text-align: center;
}

.uiblock {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* 군수과장 벡터양! 텍스트랑 이미지가 들어있는 div */
.title {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100px;
}

.title_text {
	display: flex;
	flex-direction: column;	
	text-align: left;
	justify-content: space-between;
}

.title_img {
	height: 100%;
}

.cfg_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	align-items: center;
}

.cfg_cell {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
}

.cfg_elem {
	box-sizing: border-box;
	width: 100%;
	margin-top: 6px;
}

.cfg_elem_sub {
	box-sizing: border-box;
	margin-left: 5px;
	margin-right: 5px;
	height: 100%;
}

select.cfg_elem  {
	height: 100%;
}

img.cfg_elem {
	width: 82%;
}

input.time_input {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}

table.tb_result {
	border-collapse: collapse;
	font-size: 80%;
}

table.tb_result tr:nth-child(1) {
	border-top-style: double;
}

table.tb_result tr:nth-child(2) {
	border-top-style: double;
}

table.tb_result tr:nth-child(6) {
	border-top-style: double;
}

table.tb_result tr:nth-child(6) {
	border-bottom-style: double;
}

.smalltext {
	font-size: 50%;
}

.stdButton {
	height: 25px;
	color: white;
	background: black;
	border: none;
	border-top: 1px solid black;
	border-left: 1px solid black;
	font-size: 12px;
}

.stdButton:hover {
	color: black;
	background: rgb(253, 179, 0);
}

/* 언어 버튼 */
.langCSS {
	width: 50px;
}

/* 간편/고급 버튼 */
.modeCSS {
	height: 30px;
	width: 70px;
}

/* 애니메이션 */
.transition {
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.hide {
	height: 0;
	opacity: 0;
}