* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  opacity: 1;
  box-sizing: border-box;
  vertical-align: center;
}

body {
  background: rgb(230, 230, 200);
}

input,
select {
  font-size: 12px;
  text-align: center;
}

/* 앱의 전체를 감싸는 것 */
.app_bound {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  background: white;
  text-align: center;
}

.uiblock {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 군수과장 벡터양! 텍스트랑 이미지가 들어있는 div */
.title {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.title_text {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
}

.title_img {
  height: 100%;
}

/* Set of resource select buttons */
.cfg_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 17px;
  align-items: center;
}

/* Single resource select button and other input */
.cfg_cell {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  & * {
    width: 100%;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  /* custom checkbox */
  input[type='checkbox'] {
    &::after {
      content: 'X';
      justify-content: center;
      align-items: center;
      display: flex;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border: 1px solid rgb(133, 133, 133);
      border-radius: 2px;
      cursor: pointer;
      background-color: white;
    }

    &:checked {
      &::after {
        content: 'O';
        background-color: rgb(253, 179, 0);
      }
    }
  }

  input,
  select {
    height: 1.5rem;
  }

  /* resource type button & image */
  input[type='image'],
  img {
    padding: 4px;
    border-radius: 3px;
    width: 100%;
    height: auto;
  }
}

/* Timeline Editor */
#tb-timeline {
  width: 100%;
  border-spacing: 0;

  tr {
    td {
      display: flex;
      align-items: stretch;
      height: 2rem;
      margin-bottom: 5px;

      input {
        width: 100%;
      }

      button {
        width: 70px;
        margin-left: 10px;
      }
    }
  }
}

/*
	숫자는 기본적으로 좌측 정렬을 한다.
	중앙정렬 해야되는 컬럼은 테이블 생성할 때 js로 수정한다.
 */
#div-result table {
  width: 100%;
  margin-top: 10px;
  text-align: left;
  border-collapse: collapse;
  font-size: 80%;
}

#div-result table th {
  text-align: center;
}

#div-result table tr:nth-child(1) {
  border-top-style: double;
}

#div-result table tr:nth-child(2) {
  border-top-style: double;
}

#div-result table tr:nth-child(6) {
  border-top-style: double;
  border-bottom-style: double;
}

.smalltext {
  font-size: 50%;
}

.stdButton {
  color: white;
  background: black;
  border: none;
  border-radius: 3px;
  font-size: 12px;

  &:hover {
    color: black;
    background: rgb(253, 179, 0);
  }
}

/* 언어 버튼 */
.language-config {
  display: flex;
  justify-content: stretch;
  margin-bottom: 10px;

  & * {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.langCSS {
  flex: 1;
  width: 60px;
  height: 1.8rem;
}

/* 간편/고급 버튼 */
.mode-config {
  display: flex;
  justify-content: stretch;

  & * {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.modeCSS {
  flex: 1;
  width: 70px;
  height: 1.8rem;
}

.preset-config {
  width: 100%;
  display: flex;
  align-items: stretch;
  height: 1.8rem;

  select {
    flex: 1;
  }

  button {
    width: 50px;
  }

  & * {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* 반복일정 추가 */
#bt-repeat-add {
  width: 100%;
  height: 1.8rem;
}

/* 계산 버튼 */
.computeCSS {
  height: 1.8rem;
  color: black;
  background-color: rgb(253, 179, 0);
}

/* 애니메이션 */
.transition {
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.checked {
  background-color: rgb(253, 179, 0);
}

.hide {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
